.jumbotron {
 background-color: aqua;
 color: black;
}
.footer {
padding: 10px 10px 0px 10px;
background-color:darkslategray;
margin-bottom:0px;
margin-top:10px;
}

.card
{
flex: 1 80px;
padding: 2px 5px 2px 5px;
margin-top: 20px;
}

.img{
width: 100px;
height: 100px;

}